{{ define "main" }}
{{ partial "back_link.html" . }}
<article>
<p><span class="post-date">{{ .Date.Format "2006-01-02" }}</span> {{ .Title }}</p>
<p class="post-meta"><a href="{{ $.Site.Params.theme_config.authorLink | relURL }}">{{ $.Site.Title }}</a></p>

{{- $showAds := .Params.showAdvertisement | default (.Site.Params.article.showAdvertisement | default true) -}}
{{- $adsensePartialExists := templates.Exists "partials/adsense.html" -}}
{{- if and $showAds $adsensePartialExists -}}
    {{- partial "adsense.html" . -}}
    {{- .Content -}}
    {{- partial "adsense.html" . -}}
{{- else -}}
    {{- if $showAds -}}
        {{- warnf "[OKB] Adsense is enabled for %s but no google adsense partial exists." .File.Path -}}
    {{- end -}}
    {{- .Content -}}
{{- end -}}
</article>
{{ partial "mermaid.html" . }}
{{ end }} 
