{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    <!-- Google Adsense 광고 기능 -->
    {{ if .Params.showAdvertisement | default (.Site.Params.article.showAdvertisement | default true) }}
        {{ if templates.Exists "partials/adsense.html" }}
            {{- partial "adsense.html" . -}}
            {{- .Content -}}
            {{- partial "adsense.html" . -}}
        {{ else }}
            {{ warnf "[ETCH] Adsense is enabled for %s but no google adsense partial exists." .File.Path }}
        {{ end }}
    {{ else }}
        <!-- 각 포스트별 메인 컨텐츠 -->
        {{- .Content -}}
    {{ end }}
</article>
{{ end }}
