{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<nav><a href="/">back</a></nav>
<article>
<p>{% if page.date %}<span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span> {% endif %}{{ page.title }}</p>
<p class="post-meta"><a href="{{ config.extra.author_link }}">{{ config.title }}</a></p>

{% if page.extra.showAdvertisement is defined %}
  {% set show_ads = page.extra.showAdvertisement %}
{% else %}
  {% set show_ads = true %}
{% endif %}

{% if show_ads %}
{{ macros::adsense() }}
{% endif %}

{{ page.content | safe }}

{% if show_ads %}
{{ macros::adsense() }}
{% endif %}
</article>
{% endblock content %}
