<script src="https://giscus.app/client.js"
        data-repo="younsl/younsl.github.io"
        data-repo-id="R_kgDOGnOmbw"
        data-category="Announcements"
        data-category-id="DIC_kwDOGnOmb84CWCrn"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_dark"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
<!-- A lightweight comments widget built on GitHub issues -->
