{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% if page and page.summary %}
      <meta name="description" content="{{ page.summary | striptags }}">
    {% endif %}

    <title>{% if page %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ get_url(path='main.css', trailing_slash=false) }}">
  </head>

  <body>
    <div class="w">
      {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
  </body>
</html>
