{% extends "base.html" %}

{% block content %}
  {% set blog_section = get_section(path="blog/_index.md") %}

  <nav>
    {% for item in config.extra.nav %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>

  {% for is_pinned in [true, false] %}
    {% for page in blog_section.pages %}
      {% set pinned = page.extra.pinnedToTop | default(value=false) %}

      {% if pinned == is_pinned %}
        <p class="post-item">
          {% if page.date %}
            <time>{{ page.date | date(format="%Y-%m") }}</time>
          {% endif %}
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </p>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock content %}
