{% extends "base.html" %}

{% block content %}
  {% set blog_section = get_section(path="blog/_index.md") %}

  <nav>
    {% for item in config.extra.nav %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>

  {% set_global last_year = 0 %}
  {% set_global pinned_separator_shown = false %}
  {% for is_pinned in [true, false] %}
    {% for page in blog_section.pages %}
      {% set pinned = page.extra.pinnedToTop | default(value=false) %}

      {% if pinned == is_pinned %}
        {% if not is_pinned %}
          {% if not pinned_separator_shown %}
            <hr>
            {% set_global pinned_separator_shown = true %}
          {% endif %}
          {% if page.date %}
            {% set year = page.date | date(format="%Y") | int %}
            {% if year != last_year %}
              <h2 class="year-header">{{ year }}</h2>
              {% set_global last_year = year %}
            {% endif %}
          {% endif %}
        {% endif %}
        <p class="post-item">
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </p>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock content %}
