{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        {{- $dateFormat := site.Params.theme_config.date_format -}}
        {{- $displayDate := cond .Lastmod .Lastmod .Date -}}
        <time datetime="{{ $displayDate }}">
            {{- $displayDate | time.Format $dateFormat -}}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{- $showAds := .Params.showAdvertisement | default (.Site.Params.article.showAdvertisement | default true) -}}
    {{- $adsensePartialExists := templates.Exists "partials/adsense.html" -}}
    {{- if and $showAds $adsensePartialExists -}}
        {{- partial "adsense.html" . -}}
        {{- .Content -}}
        {{- partial "adsense.html" . -}}
    {{- else -}}
        {{- if $showAds -}}
            {{- warnf "[VOID] Adsense is enabled for %s but no google adsense partial exists." .File.Path -}}
        {{- end -}}
        {{- .Content -}}
    {{- end -}}
</article>
{{ end }}
